/* Universal Style */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: Seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0px;
}

/* Header Style */

header {
  border-bottom: 1px solid seashell;
  display: flex;
  position: fixed;
  width: 100%;
  height: 69px;
  z-index: 1px;
  align-items: center;
  text-align: right;
  background-color: black;
}

header img {
  height: 50px;
  margin-left: 10px;
}

.top-nav {
  flex-grow: 1;
  padding-right: 40px;
}

a {
  text-decoration: underline;
  color: Seashell;
  margin: 10px;
}

/* Content Style */

div {
    display: block;
}

h2 h4 {
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-container {
  margin: 0 auto 80px auto;
  padding-top: 70px;
}

#mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  padding-top: 70px;
}

#mission .copy {
  margin: auto;
  background-color: black;
  width: 100%;
}

#featured {
  width: 1000px;
  margin: auto;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.menu-item img {
  height: 200px;
  width: 300px;
  padding: 10px;
}

#locations {
  background-image: url("../images/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  margin: auto;
  padding-top: 50px;
}

.locations {
  display: ;
  justify-content: space-around;
}

.location-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 300px;
  background-color: black;
  opacity: 1;
  width: 300px;
  padding:10px;
  margin: 5px 20px;
}
